

.rectangle85{
	/* Rectangle 92 */
margin: 57px auto;

width: 886px;
height: 672px;
background: #F7F6F8;
border-radius: 10px;
/*padding: 40px;*/
box-shadow: 30px 40px 40px rgba(95, 100, 130, 0.25);
border-radius: 10px;
}






.rectangle92_1{
	/* Rectangle 92 */

width: 886px;
height: 88px;

}
.header{
	margin-top: 33px;
	display: inline-block;
	margin-left: 63px;
	width: 300px;
	height: 30px;
	float: left;
}
.title{

	/* Your Profile */
/*position: absolute;*/
width: 144px;
height: 37px;
margin-left: 10px;
font-family: Bebas Neue;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 154.4%;
/* identical to box height, or 37px */
display: flex;
align-items: center;

color: #161551;


}
.vector44{
	/* Vector 44 */
margin-top: 5px;
position: absolute;
width: 0px;
height: 20px;
background-color: #FB3F3C;
/* 3 */
border: 2px solid #FB3F3C;

}
.exitbuttonwrapper{
	margin-top: 20px;
	margin-right: 20px;
	display: inline-block;
	float: right;
}

.circlebtn{
top: 0px;
left: 18px;
position: relative;
}
.cross{
top: 0px;
left: 0px;
position: relative;
}


.circlephoto {
	display: inline-block;
	float: left;
	width: 110px;
	height: 110px;
	background: #7F6DF0;
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-left: 73px;
}
.circlephoto img {
    display: block;
    width:100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.profiledata{
	display: inline-block;
	float: left;
	margin-left: 36px;
}

.nameheading{
	/* First Last Name */
/*width: 331px;*/
text-align: left;
margin-bottom: 9px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 154.4%;
/* identical to box height, or 22px */
color: #161551;
}
.formheading{
margin-bottom: 19px;
}

.formheading .ant-input, .ant-input[disabled]{
	/* First Last Name */
/*width: 331px;*/
width: 454px;
height: 44px;
background: #FFFFFF !important;
border-radius: 200px;
border: none;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
color: #161551 !important;
cursor: text !important;
padding-left: 15px;
}

/*.nameheading input:hover{
	border: none;
}*/

.ant-input-affix-wrapper .ant-input-suffix{
	/*right: -135px;*/
}
.ant-input-password{
width: 146% !important;
}
.ant-form-explain{
	font-weight: normal;
	width: 442px;
	margin-bottom: -20px !important;
}
.ant-btn-primary{
	/* Rectangle 86 */

width: 96px;
height: 39px;
/* 3 */
background-color: #FB3F3C !important;
/* 3 */
border: 1px solid #FB3F3C !important;

}

.ant-btn-active{
	width: 96px;
	height: 39px;
	border: 1px solid #FB3F3C !important;
}

.ant-form-item{
	margin-bottom: 19px !important;
}
.buttonrow div{

	display: inline-block;
	float: center;
}

.buttonrow div.ant-form-item{
	margin-top: -1px;
	margin-left: -23px;
}


.buttonrow{
	margin-top: 50px;
}

.btn-cancel{
	margin-top: 4px;
}